 [Unit]
 Description=Camera Stream
 After=multi-user.target

 [Service]
 Type=idle
 #ExecStart=/usr/bin/python /home/pi/piNode/cameraHMI/camerastream.py > /home/pi/camerastream.log 2>&1 
 ExecStart=/usr/bin/python /home/pi/piNode/cameraHMI/run-raspicam.py > /home/pi/camerastream.log 2>&1

 [Install]
 WantedBy=multi-user.target
