[Unit]
Description=piNode service
After=network.target

[Service]
Type=idle
ExecStart=/usr/bin/node /home/pi/piNode/pi-server.js
WorkingDirectory=/home/pi/piNode
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root
Group=root
#RestartSec=10s
#KillMode=process
#TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
